RoadTest/MultiThreadTest/Service References/RService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PlayerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Remoting.Contract.Data" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriends" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerFriendsOwerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriendsOwerId" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerFriendsOwerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerFriendsOwerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/Login" message="tns:IPlayerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/LoginResponse" message="tns:IPlayerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerFriends" message="tns:IPlayerService_GetPlayerFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerFriendsResponse" message="tns:IPlayerService_GetPlayerFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerFriendsOwerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerFriendsOwerId" message="tns:IPlayerService_GetPlayerFriendsOwerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerFriendsOwerIdResponse" message="tns:IPlayerService_GetPlayerFriendsOwerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/UpdatePlayer" message="tns:IPlayerService_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/UpdatePlayerResponse" message="tns:IPlayerService_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerService" type="tns:IPlayerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerFriends">
      <soap12:operation soapAction="http://tempuri.org/IPlayerService/GetPlayerFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerFriendsOwerId">
      <soap12:operation soapAction="http://tempuri.org/IPlayerService/GetPlayerFriendsOwerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerService/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerService">
    <wsdl:port name="NetTcpBinding_IPlayerService" binding="tns:NetTcpBinding_IPlayerService">
      <soap12:address location="net.tcp://localhost:8001/PlayerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/PlayerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CHINA-2C283192A\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>