Bussiness/Service References/WebLogin/PassPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="dandantang" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="dandantang" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="dandantang">
      <s:element name="ChenckValidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChenckValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChenckValidateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_UserSex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_UserSexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_UserSexResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChenckValidateSoapIn">
    <wsdl:part name="parameters" element="tns:ChenckValidate" />
  </wsdl:message>
  <wsdl:message name="ChenckValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ChenckValidateResponse" />
  </wsdl:message>
  <wsdl:message name="Get_UserSexSoapIn">
    <wsdl:part name="parameters" element="tns:Get_UserSex" />
  </wsdl:message>
  <wsdl:message name="Get_UserSexSoapOut">
    <wsdl:part name="parameters" element="tns:Get_UserSexResponse" />
  </wsdl:message>
  <wsdl:portType name="PassPortSoap">
    <wsdl:operation name="ChenckValidate">
      <wsdl:input message="tns:ChenckValidateSoapIn" />
      <wsdl:output message="tns:ChenckValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_UserSex">
      <wsdl:input message="tns:Get_UserSexSoapIn" />
      <wsdl:output message="tns:Get_UserSexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PassPortSoap" type="tns:PassPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChenckValidate">
      <soap:operation soapAction="dandantang/ChenckValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_UserSex">
      <soap:operation soapAction="dandantang/Get_UserSex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassPortSoap12" type="tns:PassPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChenckValidate">
      <soap12:operation soapAction="dandantang/ChenckValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_UserSex">
      <soap12:operation soapAction="dandantang/Get_UserSex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassPort">
    <wsdl:port name="PassPortSoap" binding="tns:PassPortSoap">
      <soap:address location="http://localhost/admingunny/Flash_Port/PassPort.asmx" />
    </wsdl:port>
    <wsdl:port name="PassPortSoap12" binding="tns:PassPortSoap12">
      <soap12:address location="http://localhost/admingunny/Flash_Port/PassPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>